Flow.json
[
    {
        "id": "9fe836727e0859f4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a7f9f090c93cda8",
        "type": "mqtt in",
        "z": "9fe836727e0859f4",
        "name": "",
        "topic": "device/Voltage",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5750ebec38658556",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 200,
        "wires": [
            [
                "3ed1bea68fc836eb",
                "369541fc8867bd2e"
            ]
        ]
    },
    {
        "id": "369541fc8867bd2e",
        "type": "debug",
        "z": "9fe836727e0859f4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "3ed1bea68fc836eb",
        "type": "ui_gauge",
        "z": "9fe836727e0859f4",
        "name": "",
        "group": "c5350d69f1b9f523",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Voltage",
        "label": "V",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#9bee9b",
            "#75752f",
            "#174287"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 500,
        "y": 140,
        "wires": []
    },
    {
        "id": "a50aa274f487eaa7",
        "type": "mqtt in",
        "z": "9fe836727e0859f4",
        "name": "",
        "topic": "device/Current",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5750ebec38658556",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 200,
        "wires": [
            [
                "1b2d217952296f43",
                "bed136702220eea3"
            ]
        ]
    },
    {
        "id": "bed136702220eea3",
        "type": "debug",
        "z": "9fe836727e0859f4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b2d217952296f43",
        "type": "ui_gauge",
        "z": "9fe836727e0859f4",
        "name": "",
        "group": "367a0eed4b27f626",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "colors": [
            "#914067",
            "#c4c440",
            "#2d4f26"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 140,
        "wires": []
    },
    {
        "id": "a1c9a8d8f0831056",
        "type": "mqtt in",
        "z": "9fe836727e0859f4",
        "name": "",
        "topic": "device/Power",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5750ebec38658556",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 320,
        "wires": [
            [
                "b9358223cb4ab1a2",
                "4f658cfcb4ecf7ef"
            ]
        ]
    },
    {
        "id": "4f658cfcb4ecf7ef",
        "type": "debug",
        "z": "9fe836727e0859f4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "b9358223cb4ab1a2",
        "type": "ui_gauge",
        "z": "9fe836727e0859f4",
        "name": "",
        "group": "8d1ecf7bd94f548c",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Power",
        "label": "W",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#528052",
            "#6c6c42",
            "#ce5555"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "381ad84e87583f5d",
        "type": "mqtt in",
        "z": "9fe836727e0859f4",
        "name": "",
        "topic": "device/KWh",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5750ebec38658556",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "ba2b79dacccbedae",
                "c736b12490a68a4f"
            ]
        ]
    },
    {
        "id": "c736b12490a68a4f",
        "type": "debug",
        "z": "9fe836727e0859f4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 320,
        "wires": []
    },
    {
        "id": "ba2b79dacccbedae",
        "type": "ui_gauge",
        "z": "9fe836727e0859f4",
        "name": "",
        "group": "8dfe68549fede7df",
        "order": 2,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "kWh",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#dbbafd",
            "#9a9a51",
            "#391313"
        ],
        "seg1": "10",
        "seg2": "20",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "5750ebec38658556",
        "type": "mqtt-broker",
        "name": "server",
        "broker": "91.121.93.94",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c5350d69f1b9f523",
        "type": "ui_group",
        "name": "Group1",
        "tab": "cc6e973aba3930a5",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "367a0eed4b27f626",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "cc6e973aba3930a5",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d1ecf7bd94f548c",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "cc6e973aba3930a5",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8dfe68549fede7df",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "cc6e973aba3930a5",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc6e973aba3930a5",
        "type": "ui_tab",
        "name": "Smart Energy Meter",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
